<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Persons</h3>
      </div>
    <div class="card-body">
      <h5 class="card-title">List of Persons</h5>
      <div class="card-text">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>LastName</th>
              <th>Age</th>
              <th>Accions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let person of persons"> 
              <td>{{person.id}}</td>
              <td>{{person.name}}</td>
              <td>{{person.lastname}}</td> 
              <td>{{person.age}}</td> 
              <td>
                <button class="btn btn-info" (click)="Edit(person)">Update</button>
              <!--<button class="btn btn-danger" (click)="Delete(person.id)">Delete</button> -->  
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
